/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.orange-text{
    color: orange;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(45deg, orangered, orange);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
/* hover style */
.btn:hover {
    background: none;
    border: 1px solid orange;
    color: orange;
    padding: 9px 19px;
    cursor: pointer;
  }
  

/* header style */
#header{
    width: 100%;
    height: 500px;
    background-color: rgba(255, 166, 0, 0.11);
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.header-title{
    width: 50%;
}
.header-image{
    width: 50%;
}
.header-image > img{
    width: 100%;
}

/* services-section style */
#services-section{
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
}
.service-section-boxes{
    display: flex;
    justify-content: space-evenly;
}
.service-box{
    width: 27%;
    background-color: rgba(255, 166, 0, 0.11);
    padding: 20px 30px;
    display: flex;
    align-items: center;
}
.service-icon{
    width: 20%;
}
.service-icon img{
    width: 100%;
    padding-right: 15px;
}
.service-text{
    width: 80%;
}

/* products-section style */
#products-section{
    width: 100%;
    margin: 30px 0;
}
.laptops-sec, .phones-sec{
    width: 80%;
    margin: 0 auto;
}
.product-cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 25px gray;
}
.product-img > img{
    width: 100%;
}

/* latest-update style */
#latest-update{
    width: 100%;
    text-align: center;
    margin: 40px 0;
}
.subscription-field{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(255, 166, 0, 0.11);
}
.subscription-field > input{
    padding: 10px;
    width: 300px;
}
/* footer styles */
footer{
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}
